<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
    <h1>
        Below are travel destinations we recommed!
    </h1>
    <ol>
        <li><a href="https://travel.usnews.com/Washington_DC/"><h2>District of Columbia</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Hawaii/"><h2>Hawaii</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Maryland/"><h2>Maryland</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Maine/"><h2>Maine</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Oregon/"><h2>Oregon</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Pennsylvania/"><h2>Pennsylvania</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Virginia/"><h2>Virginia</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Vermont/"><h2>Vermont</h2></a></li>
        <li><a href="https://travel.usnews.com/destinations/USA/Washington/"><h2>Washington</h2></a></li>
    </ol>
</body>
</html>